<div class="row">
  <div class="col">
    <h1 style="text-align: center;">Willkommen in der Testanwendung</h1>
  </div>
  <div class="offset-3 col-6">
    <p>
      Diese Anwendung ist dazu gedacht, dass jede*r auf seinem Laptop die Gems (das sind Ruby-Programmbibliotheken) installiert hat, die wir brauchen werden. 
      Sollten wir mehr Gems benötigen, werden wir das irgendwie organisiert kriegen, auch wenn die Internetsituation am Eisenberg nicht unbedingt überragend ist.
    </p>
    <p>
      Diese Anwendung ist dazu gedacht, schon einmal einen kleinen Überblick über die verwendeten Gems zu geben.
      Wer mehr über diese wissen möchte, darf sie gerne googlen. 
      Die entsprechenden Github Seiten sind ziemlich umfangreich.
      Ich werde aber im Kurs auch nochmal genau erklären, wie die einzelnen Gems verwendet werden müssen.
    </p>
    <p>
      Ich hoffe, dass die Installation dieser Testanwendung bei jedem geklappt hat und wünsche uns allen noch eine schöne Zeit bis zur Sommerakademie und einen interessanten und lehrreichen Kurs.
    </p>
    <p style="text-align: right;">anonym</p>
  </div>
</div>